div.mainVersion {border: none !important;}
#custom_interactive {
    background-image: url("intmedia/content_frames.png");
    background-position: top;
    width: 778px;
    height: 397px;
    text-align: center;
}

.col-sm-2 {text-align: center; padding-left: 0 !important; padding-right: 0 !important;}

#custom_interactive button {
    width: 108px;

    margin: 0 auto;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    -webkit-box-shadow: 2px 2px 7px #666666;
    -moz-box-shadow: 2px 2px 7px #666666;
    box-shadow: 2px 2px 7px #666666;
    color: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: #df9d7d;
    padding: 10px;
    border: solid #ffffff 1px;
    text-decoration: none;}
