.help.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only{display:none;}
.ui_slide .image-container.left{
	margin-top: 10px;
	margin-bottom: 10px;
}
a.ui_custom_dialog_trigger {
	border: 3px solid #f94d00;
	cursor: pointer;
	padding: 4px;
}
div.image-container {
	width: auto;
}
#gs_homebtn {
	height: 18px;
	left: 575px;
	position: absolute;
	top: 0px;
	width: 105px;
}
#gs_progress {
	height: 18px;
	left: 510px;
	position: absolute;
	top: 0px;
	width: 42px;
}
#gs_bookmark {
	height: 26px;
	left: 492px;
	position: absolute;
	top: 0px;
	width: 20px;
	display:none;
}
#gs_glossary {
	height: 18px;
	left: 112px;
	position: absolute;
	top: 0px;
	width: 40px;
}
#gs_menu {
	height: 18px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 48px;
}
#gs_notes {
	height: 18px;
	left: 65px;
	position: absolute;
	top: 0px;
	width: 30px;
}
#gs_printscreen {
	height: 18px;
	left: 169px;
	position: absolute;
	top: 0px;
	width: 25px;
}