div.activeInteractive {
margin: 0px 30px 60px 0px;
}


.ui_interactive{
	background-color: #FDF6E0;
	color: #000000;
	border:10px solid #E8E8E8;  
}


span.ui_pending > div.frame{
	background-color:#ffeeb8;
	
}


.ui_interactive hr,.ui_interactive  hr.dashed{
	margin-bottom:10px;
}


.ui-slideshow-slide {
	margin: 0 25px;
	/* border:10px solid #E8E8E8; */
}

.ui-slideshow-item{
	padding:0;
	margin:0;
	/* border:10px solid #E8E8E8; */
}

.socialBG{
	margin-top:90px;
}


.ui-slideshow-item.socialBG .ui-dialog{
	top:0px !important ;
	/* border:10px solid #E8E8E8; */
}

.ui-slideshow-item.socialBG a.help.ui-button{
	position:relative;
	top:0px;
	left:140px;
	/* border:10px solid #E8E8E8; */
}




.ui_pending .help{
	display:none;	
}

.ui-icon{
	/*display:inline;*/	
}

.ui-dialog{
	min-width:50%;
	max-width:80%;
	padding:20px;
	left: 30px !important;
}

.ui_interactive h2 {
	color:#ffffff !important;	
}



.ui_interactive{
	margin-bottom:0px !important;	
}

.ui-navigation{
	margin: 0 25px 0 0;
}

.ui-navigation-header{
	background-image:none !important;
	background-color:transparent !important;
	
}

.ui-navigation-header.ui-widget-header
{
	background:none;
	/*background-color:#FDF6E0;*/
	color:#ffffff;
	margin-top:0px;
	color:#f94d00;
	position: absolute;
	bottom: 20px;
	width:inherit;
	margin-top:20px;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 1.2em;
height: 1.2em;
cursor: default;
}


/*************  DLink *************************************************/

.image-container-normal a{ display:block}



/**********   FIX FOR FF FOCUS ISSUE *******************************/
.ui-navigation a:focus{
	border: 1px solid #f94d00;
	background: #f94d00 url(../../../module04/lesson01/css/images/ui-bg_highlight-soft_60_f94d00_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #ffffff;	
}



/****************************************reveal**************************/

.clickReveal a.title {
color: #fff;
border: solid 1px #e8e8e8;
border-bottom: solid 2px #6b4117;
background: #f94d00;
}

.clickReveal a.title:hover {
border-top: solid 2px #6b4117;
border-bottom: solid 1px #e8e8e8;
background: #c3691f;
}

.clickReveal a.title {
color: #fff;
border: solid 1px #e8e8e8;
border-bottom: solid 2px #6b4117;
background: #f94d00;
}

/****************************************Tabs**************************/

.tabs a.tab {
	color: #fff;
	background-color: #f94d00;
}

.tabs a.tab:hover, .tabs a.active {
	background:#973A00;
	color:##fff;
}


.tabs div.panel {
	background-color: #f8f8f8;
	border: 2px solid #f94d00;
}


/***************FLIPBOOK*************************************************/
.jFlipbook {border:none; background:none;}
.b-page-cover {	background:url(../../../module04/lesson01/images/global/flipBook-front147292329.png) 0 0 no-repeat;}

/***** if you want a back style book for the last page, you need to use this and comment out the above**/
/*  .b-page-cover {	background:url(../images/global/flipBook-147292329.png) 0 0 no-repeat;}  */
/*  .b-page-1 > .b-page-cover { background: url(../images/global/flipBook-front147292329.png) 0 0 no-repeat;}  */

.booklet .b-overlay {width: 20px!important;}
.booklet .b-wrap-left {
	background:url(../../../module04/lesson01/images/global/flipBook_leftPage-147292329.png) no-repeat;
	webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	o-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	box-shadow: inset 0 0 0 rgba(0,0,0,0);
	border-left: 0px solid #eee;
}
.booklet .b-wrap-right {
	background:url(../../../module04/lesson01/images/global/flipBook_rightPage-147292329.png) no-repeat;
	webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	o-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	box-shadow: inset 0 0 0 rgba(0,0,0,0);
	border-left: 0px solid #eee;
}


.booklet .b-wrap-left .b-counter {left: 50%; bottom:10px;}
.booklet .b-wrap-right .b-counter {right: 50%; bottom:10px;}
.booklet .b-counter { background:none; border:none; font-size:12px;}
