fw4.0
&hellip;
&#39;
<abbr title="full_title_of_item"></abbr>
left
<blockquote>
    <img class="" src="images/xxx.jpg" alt="alt_text">
    <p>Quote_goes_here</p>
    <footer><cite title="Source Title">Someone_famous</cite></footer>
</blockquote> 
right
<blockquote class="blockquote-reverse">
    <img class="" src="images/xxx.jpg" alt="alt_text">
    <p>Quote_goes_here</p>
    <footer><cite title="Source Title">Someone_famous</cite></footer>
</blockquote> 
clear
<div class="clearfix"></div>

cl2reveal
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
            <h4 class="panel-title">Title_1</h4>
      </div>
      <div id="collapseTwo" class="collapse">
        <div class="panel-body">
          <h3>Content_Title</h3>
           <p>text_goes_here</p>
        </div>
      </div>
    </div> <!--End item #1-->
    
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
            <h4 class="panel-title">Title_2</h4>
      </div>
      <div id="collapseThree" class="collapse">
        <div class="panel-body">
          <h3>Content_Title</h3>
           <p>text_goes_here</p>
        </div>
      </div>
    </div><!--End item #2-->

<div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
            <h4 class="panel-title">Title_4</h4>
      </div>
      <div id="collapseFour" class="collapse">
        <div class="panel-body">
          <h3>Content_Title</h3>
           <p>text_goes_here</p>
        </div>
      </div>
    </div><!--End item #3-->
</div><!--End Accordion-->

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">
        <h3 class="panel-title">Title</h3>
  </div>
  <div id="collapseOne" class="collapse">
    <div class="panel-body">
      <h3>Content_Title</h3>
      <p>text_goes_here</p>
    </div>
  </div>
</div>

<button 
	type="button" 
    class="btn btn-danger" 
    data-toggle="collapse" 
    data-target="#demo">
  		Name_of_Button
</button>

<div id="demo" class="collapse">text_shown_for_button</div>

divs
<div class="clearfix"></div>

<div class="well objective">
     	<div class="icon" data-icon="icon_objectives"></div>
        <div class="content">
            <h2>Objective</h2>
            <p>
                This is information for this Objective.
            </p>
        </div>
</div>


tabbed panel (3)

<div class="tabs">
    <a class="tab" title="header_title" >Title_1</a>
    <div class="panel">
        <3>Content_Title</h3>
           <p>text_goes_here</p>
    </div><!--End tab #1-->
    
    <a class="tab" title="header_title">Title_2</a>
    <div class="panel">
          <3>Content_Title</h3>
           <p>text_goes_here</p>
    </div><!--End tab #2-->
    
    <a class="tab" title="header_title">Title_3</a>
    <div class="panel">
          <3>Content_Title</h3>
           <p>text_goes_here</p>
    </div><!--End tab #3-->
</div><!--End tabbed panel-->

data link
<img src="..." alt="..." class="showcase lightbox frame" data-link="../global/images/global/sample-image.png" data-text="..." data-copyright="..." data-caption="..." />
&quot;
&#8212; em dash
endash &#8211;
grey div
<div class="block bold"></div>

grids
33/33/33
<div class="row show-grid">
	<div class="col-sm-4">
   
    </div>
    
	<div class="col-sm-4">
    
    </div>
    
	<div class="col-sm-4">
    
    </div>
</div>
 50/50
 <div class="row show-grid">
	<div class="col-sm-6">
    	
    </div>
	<div class="col-sm-6">
    	
    </div>
</div>

66/33
<div class="row show-grid">
	<div class="col-sm-8">
    
    </div>
	<div class="col-sm-4">
    
    </div>
</div>

images
left
<img src="images/xxx.jpg" 
	alt="alt_text_image" 
	class="pull-left top-flush" 
    data-width=""
    data-copyright="copyright">
    
    right
    <img src="images/xxx.jpg" 
	alt="alt_text_image" 
	class="pull-right top-flush" 
    data-width=""
    data-copyright="copyright">
    
    center w/ margin
    <img src="images/xxx.jpg" 
	alt="alt_text_image" 
	class="showcase" 
    data-width=""
    data-copyright="copyright">
    center no margin
    <img src="images/xxx.jpg" 
	alt="alt_text_image" 
	class="center-block" 
    data-width=""
    data-copyright="copyright">
    ful lightbox
    <p><img src="images/imagename-sm.jpg" 
	alt=" "
       class="pull-right top-flush lightbox" 
    data-width="300px" data-maxWidth="500px" data-maxHeight="500px" 
    data-link="images/imagename-lg.jpg" 
    data-lightBoxText="" data-caption=""
      data-copyright=" ">
      
      left light box
      class=“pull-left lightbox"
      light box
      
      <img src="images/small.jpg" 
	class="lightbox" 
    data-width="300px" data-maxWidth="500px" data-maxHeight="500px" 
    data-link="images/big.jpg" 
    data-caption="Caption_for_image" 
    data-lightBoxText="LightBox_Title" 
    data-copyright="copyright"
    data-text="pop/imgtxtver_popa.htm">
     
     lightbox gallery
     <img src="images/thumbnail.jpg" 
	alt="alt_text_image" 
    data-group="group1" 
    class="gallery" 
    data-link="images/full_size.jpg" 
    data-lightBoxText="LightBox_Title" 
    data-maxWidth="80%" data-maxHeight="80%" >        
<img src="images/thumbnail.jpg" 
	alt="alt_text_image" 
    data-group="group1" 
    class="gallery" 
    data-link="images/full_size.jpg" 
    data-lightBoxText="LightBox_Title" 
    data-maxWidth="80%" data-maxHeight="80%" > 
<img src="images/thumbnail.jpg" 
	alt="alt_text_image" 
    data-group="group1" 
    class="gallery" 
    data-link="images/full_size.jpg" 
    data-lightBoxText="LightBox_Title" 
    data-maxWidth="80%" data-maxHeight="80%" > 
<img src="images/thumbnail.jpg" 
	alt="alt_text_image" 
    data-group="group1" 
    class="gallery" 
    data-link="images/full_size.jpg" 
    data-lightBoxText="LightBox_Title" 
    data-maxWidth="80%" data-maxHeight="80%" > 
    
    shapes
    circle
    <img src="images/xxx.jpg" 
	alt="alt_text_image" 
	class="img-circle pull-left" 
    data-width="150px"
    data-copyright="copyright">
    rounded corners
    
    <img src="images/xxx.jpg" 
	alt="alt_text_image" 
	class="img-rounded pull-left" 
    data-width="150px"
    data-caption="caption_goes_here" 
    data-copyright="copyright_goes_here">
    thumbnail
    <img src="images/xxx.jpg" 
	alt="alt_text_image" 
	class="img-thumbnail pull-left" 
    data-width="150px"
    data-copyright="copyright">
    
    interactives
    mc quiz
    <?xml version="1.0" encoding="UTF-8"?>
            
<interactive>
<settings>
    <title></title>
    <instructions>For this assessment, you will complete a self-check on the history of journalism. You may want to review the lesson to make sure you understand the details.</instructions>
    <css>    
        <width>700</width>
        <height>400</height>
    </css>
    <auto_answer></auto_answer>
</settings>

<question>
    <type>mc</type>
    <quiz>?</quiz>
    <answer></answer>
    <option> </option>
    <option></option>
</question>
<question>
    <type>mc</type>
    <quiz>?</quiz>
    <answer> </answer>
    <option> </option>
    <option> </option>
</question>
<question>
    <type>mc</type>
    <quiz>question</quiz>
    <answer> </answer>
    <option> </option>
    <option> </option>
</question>
</interactive>

quiz
 <div class="ilShell">
	<div class="ui_quiz il_interactive" data-config="interactives/folder/title.xml"></div>
</div>
slide show
<div id="slideShowOne" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="4000">
    <div class="carousel-inner">
      <div class="item active"><img src="../global/images/samples/Jellyfish.jpg"></div>
      <div class="item"><img src="../global/images/samples/Koala.jpg"></div>
      <div class="item"><img src="../global/images/samples/Penguins.jpg"></div>
    </div> 
    
    <a class="left carousel-control" href="#slideShowOne" title="Previous" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#slideShowOne" title="Next" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    <ol class="carousel-indicators">
        <li data-target="#slideShowOne" data-slide-to="0" class="active"></li>
        <li data-target="#slideShowOne" data-slide-to="1"></li>
        <li data-target="#slideShowOne" data-slide-to="2"></li>
    </ol>
</div>
slideshow wiht captions
<div id="slideShowOne" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="item active">
        <img src="../global/images/samples/Jellyfish.jpg">
        <div class="carousel-caption">
            <h3>1st-slide-Label</h3>
            <p>text_goes_here</p>
        </div> 
      </div>
      <div class="item">
          <img src="../global/images/samples/Koala.jpg">
          <div class="carousel-caption">
              <h3>2nd-slid-Label</h3>
              <p>text_goes_here</p>
          </div>                
      </div>
      <div class="item">
            <h1>3nd-slid-Label</h1>
            <p>text_goes_here</p>
      </div>
    </div> 
    
    <a class="left carousel-control" href="#slideShowOne" title="Previous" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#slideShowOne" title="Next" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    <ol class="carousel-indicators">
        <li data-target="#slideShowOne" data-slide-to="0" class="active"></li>
        <li data-target="#slideShowOne" data-slide-to="1"></li>
        <li data-target="#slideShowOne" data-slide-to="2"></li>
    </ol>
</div>

language codes
<span class="lang" data-term="assessment_area"></span>
<span class="lang" data-term="assignment_name"></span> 
<span class="lang" data-term="course_info_area"></span>
<span class="lang" data-term="discussion_area"></span> 
<span class="lang" data-term="email"></span> 
<span class="lang" data-term="lesson_name"></span>
<span class="lesson_number"></span>
<span class="lang" data-term="module_name"></span>
<span class="lang" data-term="parent_guardian"></span>
<span class="lang" data-term="segment_name"></span>
<span class="lang" data-term="assignment_name:uc"></span> 
<span class="lang" data-term="lesson_name:uc"></span>
<span class="lang" data-term="module_name:uc"></span>
<span class="lang" data-term="segment_name:uc"></span>

link types
class="external-link" data-width="80%" data-height="80%"
<a href="pop/01_01_01_popa.htm" class="modal-pop cboxElement" data-mwidth="90%" data-mheight="90%"></a>
<a class="popover" data-position="right" data-content="Text_in_pop_over" data-title="PopOver_Title" data-trigger="click"></a>
<a href="pop/01_01_01_popa.htm" class="pop" data-width="80%" data-height="80%"></a>
<span class="tooltip" data-tip="<strong>Word:</strong> defination" data-position="top"></span>

list groups
1
<ul class="list-group">
  <li class="list-group-item">text_here</li>
  <li class="list-group-item">text_here</li>
  <li class="list-group-item">text_here</li>
  <li class="list-group-item">text_here</li>
</ul>
badge
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    text_goes_here
  </li>
</ul> 
2, no color
<ul class="list-group">
  <li class="list-group-item">text_here</li>
  <li class="list-group-item">text_here</li>
  <li class="list-group-item">text_here</li>
  <li class="list-group-item">text_here</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Cras sit amet nibh libero</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
2, color
<ul class="list-group">
  <li class="list-group-item list-group-item-success">text_here</li>
  <li class="list-group-item list-group-item-info">text_here</li>
  <li class="list-group-item list-group-item-warning">text_here</li>
  <li class="list-group-item list-group-item-danger">text_here</li>
</ul>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
  <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
  <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
</ul>

list start with 3
<ol start="3" type="1">

ul list
<ul><li></li></ul>

media
audio
<div class="text_version" data-src="textversion/01_01_01_txta.htm">
    <audio 
        class="audio" controls 
        src="audio/xxx.mp3">
    </audio>
</div>
video
<div class="text_version" data-src="textversion/01_01_01_txta.htm">
    <video class="video" 
        src="video/echo-hereweare.mp4" 
        width="320" height="240" 
        poster="video/echo-hereweare.jpg" controls>
    </video>
</div>
table
<table class="table table-bordered table-condensed table-striped table-hover">
	<thead>
		<tr>
			<th>Column_1</th>
			<th>Column_2</th>
			<th>Column_3</th>
			<th>Column_4</th>
		</tr>
	</thead>
    <tbody>
		<tr>
			<td>Content</td>
			<td>Content</td>
			<td>Content</td>
			<td>Content</td>
		</tr>
		<tr>
			<td>Content</td>
			<td>Content</td>
			<td>Content</td>
			<td>Content</td>
		</tr>
	</tbody>
</table> 

text color
class="text-primary"
class="text-info"
class="text-muted"
class="text-success"
class="text-danger"
class="text-warning"

horizontal def list
<dl class="dl-horizontal">
	<dt>Term_Title</dt>
	<dd>Description</dd>
	<dt>Term_Title</dt>
	<dd>Description</dd>
</dl>

jumbo-tron
<div class="jumbotron">
  <h1>Title</h1>
  <p>text_goes_here</p>
 
</div>

labels
<span class="label label-danger"></span>
<span class="label label-default"></span>
<span class="label label-info"></span>
<span class="label label-primary"></span>
<span class="label label-success"></span>
<span class="label label-warning"></span>

textversion
<div class="htmltext_version" data-src="textversion/01_01_01_txta.htm">  </div>


<?xml version="1.0" encoding="UTF-8"?>
            
<interactive>
<settings>
    <title></title>
    <instructions>For this assessment, you will complete a self-check on the history of journalism. You may want to review the lesson to make sure you understand the details.</instructions>
    <css>    
        <width>700</width>
        <height>400</height>
    </css>
    <auto_answer></auto_answer>
</settings>

<question>
    <type>mc</type>
    <quiz>?</quiz>
    <answer></answer>
    <option> </option>
    <option></option>
</question>
<question>
    <type>mc</type>
    <quiz>?</quiz>
    <answer> </answer>
    <option> </option>
    <option> </option>
</question>
<question>
    <type>mc</type>
    <quiz>question</quiz>
    <answer> </answer>
    <option> </option>
    <option> </option>
</question>
</interactive>


    